<section>
    <div class="page-container">
        <div class="container-center">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead welcome-p">On this website, you can find information about my background, my prevous project, and the types of services I provide as a software engineer.</p>
            <a class="btn btn-dark btn-lg" href="/about" role="button">Learn more about me</a>
          </div>
        </div>
</section>