<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/"><img class="logo-img" src="/Assets/images/logo.png" alt="logo"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          </ul>
      </div>
    <a href="/logout" class="btn btn-light logout-btn">Logout</a>
</nav>