<section>
    <div class="page-container">
        <div class="container-center">
            <h1 class="display-4">Services</h1>
            <div class="services-container">
                <ul class="services-list">
                    <li>
                        Mobile Application (Android Native, React Native)
                    </li>
                    <li>
                        Mobile Gaming Application (Unity)
                    </li>
                    <li>
                        Front-end Web Application
                    </li>
                    <li>
                        Back-end Web Application
                    </li>
                </ul>
                <img src="/Assets/images/services.jpeg" alt="services" class="services-img">
            </div>
          </div>
        </div>
</section>