<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- ABOUT PAGE MAIN-->
<section>
    <div class="page-container">
        <div class="container-center">
            <!-- TITLE-->
            <h1 class="display-4">About me</h1>
            <!-- ABOUT ME CONTENT-->
            <div class="about-container">
                <img src="/Assets/images/me.jpg" alt="me" class="about-me-img">
                <p class="lead about-p">My name is Kay Yan Cheung. I am currently studying Software Engineering Technician diploma in Centennial College. I have 2.5 years experience in web and mobile application development.</p>
            </div>
            <!-- RESUME LINK-->
            <a class="btn btn-dark btn-lg" href="https://drive.google.com/file/d/1JErbbPjJ9kVxs3aPImtdVCYy87VcXJq4/view" target="_blank" role="button">Download Resume</a>
          </div>
        </div>
</section>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>