<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<section>
    <div class="page-container">
        <div class="container-center">
            <h1 class="display-4">Contact</h1>
            <div class="contact-container">
                <div>
                    <p>Firstname: Kay</p>
                    <p>Lastname: Cheung</p>
                    <p>Contact Number: +1 (123) 888-1234</p>
                    <p>Email: kcheun89@my.centennialcollege.ca</p>
                    <p>Github: <a target="_blank" href="https://github.com/kayc529">kayc529</a></p>
                </div>
                <div>
                    <form class="contact-form">
                        <div class="form-row">
                            <label>Name:</label>
                            <input class="input-field" id='contact-name' type="text" name="name">
                        </div>
                        <div class="form-row">
                            <label>Email:</label>
                            <input class="input-field" id='contact-email' type="email" name="email">
                        </div>
                        <div class="form-row">
                            <label>Content:</label>
                            <textarea id='contact-content'></textarea>
                        </div>
                        <div class="form-button-container">
                            <button id='submit-btn' class="btn btn-dark form-btn" >Submit</button>
                            <input class="btn btn-dark form-btn" type="reset">
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
</section>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>