<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- PROJECTS PAGE MAIN-->
<section>
    <div class="page-container">
        <div class="container-center">
            <!-- TITLE-->
            <h1 class="display-4">Projects</h1>
            <!-- MAIN CONTENTS-->
            <div class="projects-container">
                <!-- PROJECT 1-->
                <div class="project-container">
                    <img src="/Assets/images/jobster.png" alt="jobster" class="project-img">
                    <div class="project-info-container">
                        <p class="lead">Jobster is a front-end web application for user to record the jobs they have applied. Technologies like the React framework and styled components are used in this project.</p>
                        <div class="links-container">
                            <a href="https://github.com/kayc529/react-jobster" target="_blank">
                                <i class="fa-brands fa-github fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- PROJECT 2-->
                <div class="project-container">
                    <img src="/Assets/images/github_user_search.png" alt="github user search" class="project-img">
                    <div class="project-info-container">
                        <p class="lead">This web application allows user to look up users on Github and get the info of github users in the form of graphs. React framework is used for the layout and 0Auth is used for the register and login system.</p>
                        <div class="links-container">
                            <a href="https://js-github-search.netlify.app/" target="_blank">
                                <i class="fa-solid fa-link fa-2xl"></i>
                            </a>
                            <a href="https://github.com/kayc529/react-jobster" target="_blank">
                                <i class="fa-brands fa-github fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- PROJECT 3-->
                <div class="project-container">
                    <img src="/Assets/images/loopstudios.png" alt="github user search" class="project-img">
                    <div class="project-info-container">
                        <p class="lead">This website is the landing page of Loopstudios. Technologies like the React framework and styled components are used for this project.</p>
                        <div class="links-container">
                            <a href="https://fm-loopstudios-landing.netlify.app/" target="_blank">
                                <i class="fa-solid fa-link fa-2xl"></i>
                            </a>
                            <a href="https://github.com/kayc529/fm-loopstudios-landing" target="_blank">
                                <i class="fa-brands fa-github fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
</section>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>